<div class="row justify-content-center">
  <div class="col-md-6">
    <div class="custom-card bg-light text-dark">
      <div class="card-body">
        <h2 class="text-center mb-4 mt-4">Vous avez oublié votre mot de passe ?</h2>
        <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post, class: "needs-validation" }) do |f| %>
          <%= render "devise/shared/error_messages", resource: resource %>
          <div class="row justify-content-center mb-3">
            <div class="col-md-8">
              <%= f.label :email, class: "form-label" %>
              <%= f.email_field :email, placeholder: "Merci d'indiquer ici votre adresse email", autofocus: true, autocomplete: "email", class: "form-control bg-white text-dark", required: true %>
            </div>
          </div>
          <div class="text-center">
            <%= f.submit "Envoyer les instructions de réinitialisation du mot de passe", class: "btn btn-primary" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
