<div class="container-fluid">
  <div id="carouselExample" class="carousel slide my-custom-carousel mx-auto rounded" style="max-height: 600px; max-width: 800px; overflow: hidden;">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <%= image_tag('carousel2.jpg', class: 'd-block w-100 img-fluid', alt: '...') %>
      </div>
      <div class="carousel-item">
        <%= image_tag('carousel8.jpg', class: 'd-block w-100 img-fluid', alt: '...') %>
      </div>
      <div class="carousel-item">
        <%= image_tag('carousel3.jpg', class: 'd-block w-100 img-fluid', alt: '...') %>
      </div>
      <div class="carousel-item">
        <%= image_tag('carousel4.jpg', class: 'd-block w-100 img-fluid', alt: '...') %>
      </div>
      <div class="carousel-item">
        <%= image_tag('carousel6.jpg', class: 'd-block w-100 img-fluid', alt: '...') %>
      </div>
      <div class="carousel-item">
        <%= image_tag('carousel7.jpg', class: 'd-block w-100 img-fluid', alt: '...') %>
      </div>
      <div class="carousel-item">
        <%= image_tag('carousel1.jpg', class: 'd-block w-100 img-fluid', alt: '...') %>
      </div>
      <div class="carousel-item">
        <%= image_tag('carousel9.jpg', class: 'd-block w-100 img-fluid', alt: '...') %>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
</div>
